@import url('https://fonts.googleapis.com/css2?family=Handjet&family=VT323&family=Victor+Mono:wght@300&display=swap');

.hidden {
  display: none;
}

body {
  margin: 0;
  font-family: monospace;
  padding: 0;
  overflow: hidden;
  background-color: black;
  color: white;
}

.mainDivs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

#landingDiv {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}

#landingChevron {
  animation: bounce 5s infinite;
}

#landingGreeting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  font-size: 65px;
  background: linear-gradient(-45deg, #7fdbaa, #22a838, #dae328, #da8920, #d74343,
    #a81f1f,
    #bb148e,
    #e367d7, #8418e2,
      #8168e6,
      #1c31a6, #006288);
  background-size: 300%;
  font-family: 'Victor Mono', monospace;
  letter-spacing: 3px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 15s ease-in-out infinite;
  -moz-animation: animated_text 15s ease-in-out infinite;
  -webkit-animation: animated_text 15s ease-in-out infinite;
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0px 50%;
  }
}

header {
  display: flex;
  justify-content: space-between;
  margin-right: 1%;
  margin-left: 1%;
}

a {
  color: rgb(130, 130, 130);
  text-decoration: none;
  margin-left: .5%; 
  margin-bottom: 1%;
}

a:hover {
  color: rgb(198, 198, 198);
}

h1 {
  color: rgb(179, 179, 179);
}

#headerNavBars {
  margin-top: 1%; 
  color: #666666;
}

#headerName {
  color: #313131;
  font-size: 16px;
  font-weight: bold;
  margin-top: 1.4%;
  animation: fadeIn 2s;
}

.menuLinks {
  width: 0px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  transition: width 0.4s ease-in-out;
  display: flex;
  position: absolute;
  right: 0;
  background-color: black;
  margin-top: 1.4%;
  margin-right: 3%;
}

.menuLinks a {
  margin-right: 5%;
}

.menuVisible {
  width: 290px;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #6a6a6a;
  width: 100%;
}

#footerIcons {
  color: #3f3f3f;
  display: flex;
  align-items: center;
  animation: fadeIn 2s;
}

#footerIcons:hover, #headerNavBars:hover {
  color: rgb(145, 145, 145);
  animation: fadeIn 0s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

svg {
  color: rgb(59, 59, 59);
}

svg:hover {
  animation: bounce 3s infinite, animated_color 12s linear infinite;
}

@keyframes animated_color {

  0%,
  100% {
    color: #4c4c4c;
  }

  16.66% {
    color: #7ed1a3;
  }

  33.33% {
    color: #60a640;
  }

  50% {
    color: #c88c3e;
  }

  66.66% {
    color: #d74343;
  }

  83.33% {
    color: #bd4a9e;
  }

  91.66% {
    color: #a4579c;
  }

  95.83% {
    color: #722caf;
  }

  98.33% {
    color: #364078;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

#aboutPage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  margin-bottom: 1.5%;
}

#aboutPage:hover .aboutImage {
  opacity: 0.5;
}

#aboutPageRight {
  margin-top: 4%;
  width: 35%;
}

#aboutH1, #aboutH2 {
  font-size: 30px;
  color: rgb(179, 179, 179);
  opacity: 0;
  animation: fadeIn 5s forwards;
  animation-delay: 4s;
}

#aboutH2 {
  animation-delay: 9s;
}

.typewriter {
  overflow: hidden;
  font-size: 25px;
  color: #4c4c4c;
  border-right: .15em solid rgb(116, 116, 116);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: rgb(0, 0, 0);
  }

  50% {
    border-color: rgb(86, 86, 86);
  }
}


.aboutImage {
  opacity: 0.1;
  margin-right: 4%;
  height: 500px;
  width: auto;
  transition: opacity 3s ease;
}

.aboutImage:hover {
  opacity: 0.5;
}

.projectsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 70vh;
}

.projectsPreview {
  height: 200px;
  width: auto;
  margin: 2%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s ease-in-out;
}

.projectsPreview:hover {
  opacity: 100%;
  transform: scale(1.05);
}

.projectsPreview img {
  width: 100%;
  height: 90%;
}

.projectLinks {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.projectLinks:hover {
  display: flex;
  justify-content: space-between;
}

.projectLinks a {
  color: #626262;
  transition: 0.3s;
}

.projectLinks a:hover {
  color: rgb(155, 155, 155);
}

#resumeMessage {
  margin-top: 13%;
  font-size: 43px;
  animation: animated_color 15s ease-in-out infinite;
}

#resumeMessageText {
  font-size: 22px;
  margin-bottom: 5%;
  color: rgb(86, 86, 86);
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90vh;
  margin-top: 3%;
  margin-bottom: 3%;
}

.contactFormInput {
  height: 5vh;
  width: 70vh;
  padding: 1%;
  margin-bottom: 4%;
  font-size: 15px;
}

.contactFormErrors {
  color: red;
  text-align: center;
  font-size: 15px;
  margin-top: 2px;
}

#contactFormTextArea {
  resize: none;
  height: 20vh;
  width: 70vh;
  padding: 1%;
  font-family: arial;
  font-size: 15px;
}

#contactFormText {
  display: flex;
  justify-content: center;
  margin: 1%;
}

.contactFormSubmitBtn {
  border: none;
  border-radius: 3px;
  color: rgb(135, 135, 135);
  background-color: #2d2d2d;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Victor Mono', monospace;
  margin-top: 2%;
  height: 6vh;
  width: 10vh;
  transition-duration: 0.4s;
}

.contactFormSubmitBtn:hover {
  color: #00000069;
  animation: animated_bg 13s linear infinite;
}

@keyframes animated_bg {
  0%,
  100% {
    background-color: #2d2d2d;
  }

  16.66% {
    background-color: #7ed1a3;
  }

  33.33% {
    background-color: #60a640;
  }

  50% {
    background-color: #c88c3e;
  }

  66.66% {
    background-color: #d74343;
  }

  83.33% {
    background-color: #bd4a9e;
  }

  91.66% {
    background-color: #a4579c;
  }

  95.83% {
    background-color: #722caf;
  }

  98.33% {
    background-color: #364078;
  }
}